#jqContextMenu {
  font-size: 90%;
}

#navigationBar {
  position: fixed;
  left: auto;
  right: 10px;
  width: 250px;
  padding: 1em;
  padding-right: 0px;
  overflow-y: scroll;

  bottom: -2px;
  height: 70%;
  max-width: 100%;

  color: #333;
  opacity:0;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.6);
  font-family: 'Helvetica Neue',Arial,sans-serif;
  font-weight: normal;
  font-size: 15px;
  overflow: visible;
  transition:opacity 0.5s linear;
  z-index: 12;
}
#navigationBar.closed {
  height: auto;
  overflow-y: auto;
}
#navigationBar:hover {
  opacity:1;
  transition-delay:0s;
}
#navigationBar .menuHeader {
/*  padding-bottom: .5em;*/
  border-bottom: 1px solid #ccc;
  font-size: 1.2em;
  font-weight: bold;
  height: 5%;
}
#navigationBar #topicNavi, #bookmark {
  padding-top: 0.7em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  height: 45%;
  overflow-y: scroll;
  line-height: 1.1;
  font-size: 90%;
}
#navigationBar #topicNavi {
  margin-bottom: 0.8em;
}

#navigationBar #topicNavi ol,ul li {
  margin: 0 0 0 1em;
  padding: 0;
}
#navigationBar #topicNavi ol {
  counter-reset: section;
}
#navigationBar #topicNavi li {
  list-style: none;
}
#navigationBar #topicNavi ol>li:before {
  content : counters(section, '-') '. ';
  counter-increment : section;
}
#navigationBar #topicNavi ul li {
  list-style-type: disc;
}s

#navigationBar #bookmarkMenu {
  text-align: right;
  background: #fefefe;
  margin-top: 0.8em;
  padding-left: 0;
}

#navigationBar #addBookmark, #addFolderLink, #editLink, #deleteLink {
  font-size: 90%;
  margin-right: 1em;
}

#navigationBar #addBookmark, #addFolderLink, #editLink, #deleteLink, #refreshAnchor {
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0px 0px 0px 13px;
}

#navigationBar #addBookmark {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAVCAYAAABc6S4mAAABOUlEQVQ4T72V/VECQQxHHx1YgiVoB9KBVqBUoFSgVqBUAFSgHUgHUgIdYAc6b2eXWdb72DkP8xeX2+Ql3C/ZCcd2B9wDF5l7B6yBV+Ar+s+AB+AWOM/OboEFsEq+SRbwBlwVwPzR4Fl0LIsiyrANcGNBCfDRkzwlEKLlHbbVJGQqwL/Fik5hMwGflRUNKWAr4HtIZG3MvwD2gLI7hQUVqQhVNDbEmQkq0tS/kDFtCmwSwMRjytWBDNOcA3x+Ah7/2MZzzBPSlAB9Dp3dDDGrTuukFeCL2tWRF+EauSyraurAMypKSM3O8bzJ/ahp2x44bQAPuIZdI33yNamVu9Z/WRfAw30zErQeO2j8Zn0Ag64B74omc+e/d6mhBtA2IwetjwEwx0u8Jv3t9Tmv0XFtBylXupiOtN4F+gHTTjJi1bLtFgAAAABJRU5ErkJggg==);
}
#navigationBar #addFolderLink {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAUklEQVQ4T2NkYGD4z4AfMOKTBklSzQB0mwgZDHYYsguoboADgbDZT8gFBPRDwo6YQMRrEFUNwBvfWJyB4YVRAyBRSgqgXjpoYGBgqCfFaiS1jQBaJxqEkEbfgwAAAABJRU5ErkJggg==);
}
#navigationBar #editLink {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAuklEQVQ4T52SURHCMBAFtw6oAyQgAQnUAUhAARKQQB0ACioBHFAJOIB5TDKTpskltL+53d57SUPdtwPOwNqNj8ARuDUV/B64ZOa6kiCE30AHrIATsAFGS5D6cw8cAEW6aqucwFpbkrslsGBfheIoyixCDRz2OSnxX1hd9L6DRbAvcTHsBR8XSsU8ga3xuH5rh+eK4AUtIIkeyCMhmcHxBuGbGKJNknBOoPt9uXvWTBaOBanoJlwSFGEJvgZsKm2ZIj80AAAAAElFTkSuQmCC);
}
#navigationBar #deleteLink {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAuUlEQVQ4T7WTYQ3CQAyFvzlAwiRsDrAwBWMKkABImIKBAiQwB0wCEnAAeYQmTTmyjAv369a3913b6xV8rg3QAusgjcAJOPp44T5K4AxUCagPTUAD3BQ0gMxXYDVjNvkO1IIYQOa5kyNbmdQCqObBqaL3wC44DsA2ZNkJcAkN04/7AO7ezVPcg0cBHom6zaDstNT5mOlL+AaQZhDtk+a/AhaVkN3E7GtUL7IGSYDsUTbIz4/Jz9Ki5/wEBFs4S2XAy6cAAAAASUVORK5CYII=);
}

/*
folder
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAUklEQVQ4T2NkYGD4z4AfMOKTBklSzQB0mwgZDHYYsguoboADgbDZT8gFBPRDwo6YQMRrEFUNwBvfWJyB4YVRAyBRSgqgXjpoYGBgqCfFaiS1jQBaJxqEkEbfgwAAAABJRU5ErkJggg==

like
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAVCAYAAABc6S4mAAABOUlEQVQ4T72V/VECQQxHHx1YgiVoB9KBVqBUoFSgVqBUAFSgHUgHUgIdYAc6b2eXWdb72DkP8xeX2+Ql3C/ZCcd2B9wDF5l7B6yBV+Ar+s+AB+AWOM/OboEFsEq+SRbwBlwVwPzR4Fl0LIsiyrANcGNBCfDRkzwlEKLlHbbVJGQqwL/Fik5hMwGflRUNKWAr4HtIZG3MvwD2gLI7hQUVqQhVNDbEmQkq0tS/kDFtCmwSwMRjytWBDNOcA3x+Ah7/2MZzzBPSlAB9Dp3dDDGrTuukFeCL2tWRF+EauSyraurAMypKSM3O8bzJ/ahp2x44bQAPuIZdI33yNamVu9Z/WRfAw30zErQeO2j8Zn0Ag64B74omc+e/d6mhBtA2IwetjwEwx0u8Jv3t9Tmv0XFtBylXupiOtN4F+gHTTjJi1bLtFgAAAABJRU5ErkJggg==

pen
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAuklEQVQ4T52SURHCMBAFtw6oAyQgAQnUAUhAARKQQB0ACioBHFAJOIB5TDKTpskltL+53d57SUPdtwPOwNqNj8ARuDUV/B64ZOa6kiCE30AHrIATsAFGS5D6cw8cAEW6aqucwFpbkrslsGBfheIoyixCDRz2OSnxX1hd9L6DRbAvcTHsBR8XSsU8ga3xuH5rh+eK4AUtIIkeyCMhmcHxBuGbGKJNknBOoPt9uXvWTBaOBanoJlwSFGEJvgZsKm2ZIj80AAAAAElFTkSuQmCC

reload
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAVCAYAAABLy77vAAAA/0lEQVQ4T6WUURHCMBBEXx0gARyAA3AACqAOQAkSAAXUATigDkACDmCWSTrJtbQJ3G9zr7u5vRTk1QGYAgvgGbYWGRxBNu58bWGpoBFwcWr8vyNYF0hN+vPaNHaJb2AWtARkQbDUOgJlCJIKQXKqpUhKzoZwBU7Awym0Slt3JBt3Y6cEJDmswaltgX3Q0QXxn3tzdAumIzsKW1/JQRRGHdZlvxLV9NItSGqkKrssaAZoGik1d2n/nP3HWpQ7gXIv26vV7kmVqhYoZ/weYrdgJ1BqIL9BFIWJ37WhFRFk7F4Eb8eDV0D179I2W/DrMyI7glReVu7DpozpRdBCR2vyBnUgRWMkDY3FAAAAAElFTkSuQmCC

delete
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAuUlEQVQ4T7WTYQ3CQAyFvzlAwiRsDrAwBWMKkABImIKBAiQwB0wCEnAAeYQmTTmyjAv369a3913b6xV8rg3QAusgjcAJOPp44T5K4AxUCagPTUAD3BQ0gMxXYDVjNvkO1IIYQOa5kyNbmdQCqObBqaL3wC44DsA2ZNkJcAkN04/7AO7ezVPcg0cBHom6zaDstNT5mOlL+AaQZhDtk+a/AhaVkN3E7GtUL7IGSYDsUTbIz4/Jz9Ki5/wEBFs4S2XAy6cAAAAASUVORK5CYII=
*/
